// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}