div.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    // flex: 1 1 300;
    // justify-content: center;
    // margin: 0 -11px;
}

.card-container>div {
    display: flex;
    width: 33.3%;
    padding: 0.5em;
    // padding-left: 1em;
    // margin-bottom: 1em;
}

.card-item {
    width: 100%;
    // width: 33%;
    // width: 300px;
    // max-width: 300px;
    // min-width: 200px;
    // min-width: 250px;
    border: 1px double lightblue;
    // flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    // border-radius: 5px;
    border-radius: 3%;
    // margin: 8px;
    &__name {
        text-transform: capitalize;
        font-size: 1.3em;
        color: rgba(0, 0, 0, 0.657);
    }
    &__description {
        text-transform: capitalize;
        flex: 1 1 auto;
    }
    &__price {}
    &_text {
        padding: 0.3rem 0;
    }
}

.card-item_image {
    // border used for position verification
    // border: 1px solid red;
    max-height: 190px;
    overflow: hidden;
    // to put image in center
    display: flex;
    align-items: center;
    justify-content: center;
    // flex: 1 1 90%;
    img {
        max-height: 120%;
    }
}