// -----------------------------------------------------------------------------
// This file contains all styles related to the menu component.
// -----------------------------------------------------------------------------

.menu {
  // .menu-item {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  align-items: center;
  // }
}

.menu-item a {
  padding: 15px;
  display: inline-block;
}
